.Footer{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #2f2f2f;
    color:white;
    justify-content: center;
    align-items: center;
    height: auto;
}

.IconNavBar{
    display: flex;
    flex-direction: row;
    height: auto;
}

.Icon{
    margin: 1rem;
}

