

.Home{
    display: flex;
    justify-content: space-evenly;
    background-color: #1f1f1f;
    height: 500px;
}

.frontPic {
    width: 45%;
    height: 70%;
    align-self: center;
}

.homeTextDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
   

}

.frontText {
    align-self: center;
    color: #ffffff;
    font-weight: 100;
    width: 80%;
    margin: 2%;

}

.applyButton{
    align-self: center;
    text-align: center;
    width: auto;
    margin: 10px;
    color: white;
    font-weight: 300;
    padding: 6px;
    border: 1px solid white;
    text-decoration: none;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.applyButton:hover{
    color: yellow;
    border: 1px solid yellow;
}