.About {
  box-sizing: border-box;
  min-height: calc(100vh - 244px);
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 0;
  color:white;
  background-color: rgba(0,0,0,0.6);
  padding: 0px 2% 0px 2%;
}

.boardMember {
  margin-left: 5px;
  padding: 0;
}

.boardMember h1,h4 {
  font-weight: 200;
}


