.Contact {
  min-height: calc(100vh - 244px);
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.6);
}


.Contact .contactContainer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.contactContainer div{
  margin: 10px;
  border: 1px solid white;
  width: 500px;
}