.FAQcontainer{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    min-height: calc(100vh - 240px);
}

.Collapse{
    width: 40%;
    border: 1px solid white;
    color: white;
    margin: 0.2rem;
    padding: 0.4rem;
}

.FAQtext {
    color: white;
}
