.Home{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    min-height: calc(100vh - 244px);
}


.TripContainer {
    display: flex;
    justify-content: space-around;
}

.react-swipeable-view-container{
    align-items: center;
}
.react-swipeable-view-container div{
    padding-bottom: 1%;
}

.TripContainer h3{
    color: #ffffff;
    font-weight: 600;
    font-family: "Raleway";
    padding-right: 10%;


}

.Dots {
    display: flex;
    justify-content: center;
}

.dot-holder {
    padding: 0 2px 0 2px;
}

.react-carousel-dots-dot{
    color: black;
    background: black;
    opacity: 0.6;
    border: 1px solid gray;
}

.react-carousel-dots-dot.active{
    color: white;
    background: white;
    opacity: 1;
    border: 1px solid gray;


}

.homeTextDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frontText{
    justify-self: center;
    align-self: center;
    font-family: "Raleway";
    width: 40%;
    color: #ffffff;
}

.frontPic {
    min-width: 400px;
    min-height: 300px;
    width: 45%;
    height: 70%;
    max-width: 700px;
    max-height: 500px;
    align-self: center;
    border-radius: 5px;
}


.applyButton{
    align-self: center;
    text-align: center;
    width: 200px;
    font-size: 24px;
    margin: 10px;
    color: white;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border: 1px solid white;
    text-decoration: none;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.applyButton:hover{
    color: yellow;
    border: 1px solid yellow;
}

.scheduleDivContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.scheduleHeader {
  margin-bottom: 3px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Arial", sans-serif;
}

.scheduleTraining {
  margin-bottom: 5px;
  font-size: 27px;
  color: white;
  font-family: "Raleway", sans-serif;
}

.boldFont {
  font-weight: bold;
}
