.Instagram {
  min-height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgba(0,0,0,0.6);
}

.instaFeed {
    display: flex;
    justify-content: space-around;
    height: auto;
    overflow: hidden;
}

InstagramEmbed {
  align-self: center;
}

.knapp {
  align-self: center;
  width: 30px;
  height:50px;
}
