.Instagram {
  min-height: calc(100vh - 244px);
  display: flex;
  background-color: rgba(0,0,0,0.6);
}


.pictureContainer {
  width: 60%;
  height: 60%;
}


.pictureContainer img{
  width: inherit;
  height: inherit;
}
